<mat-toolbar color="primary">
  <span class="brand" routerLink="/">MarketMind</span>

  <span class="spacer"></span>

  <ng-container *ngIf="!isLoggedIn">
    <button mat-button routerLink="/login">Login</button>
    <button mat-button routerLink="/register">Register</button>
  </ng-container>

  <ng-container *ngIf="isLoggedIn">
    <button mat-button routerLink="/dashboard">Dashboard</button>
    <button mat-button routerLink="/watchlist">Watchlist</button>
    <button mat-button routerLink="/settings">Settings</button>
    <button mat-button color="warn" (click)="logout()">Logout</button>
  </ng-container>
</mat-toolbar>
