<div class="auth-container">
  <mat-card class="auth-card">
    <h2>Register</h2>

    <mat-form-field appearance="outline" class="full">
      <mat-label>Email</mat-label>
      <input matInput [(ngModel)]="email" type="email" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full">
      <mat-label>Password</mat-label>
      <input matInput [(ngModel)]="password" type="password" />
    </mat-form-field>

    <button mat-raised-button color="primary" class="full" (click)="register()">
      Create Account
    </button>

    <p class="success" *ngIf="successMsg">{{ successMsg }}</p>
    <p class="error" *ngIf="errorMsg">{{ errorMsg }}</p>
  </mat-card>
</div>
