/* src/app/pages/login/login.component.css */

.auth-container {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  padding: 0 20px;
}

.auth-card {
  width: 100%;
  max-width: 420px;
  padding: 30px;
}

h1 {
  text-align: center;
  margin-bottom: 25px;
}

.full {
  width: 100%;
}

.error {
  color: red;
  margin-top: 10px;
  text-align: center;
}

.bottom-link {
  margin-top: 15px;
  text-align: center;
}
